body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

section{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/top-banner.png);
}
.sec-middle{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
div{
    width: 50%;
    padding-left: 3%;
}
div img{
    width: 80%;
}
h1{
    font-size: 50px;
}
span{
    color: #E67E22;
}
p{
    font-size: 17px;
    text-align: justify;
}
a{
    color: aliceblue;
    background-image: linear-gradient(orange, rgb(235, 245, 124));
    border-radius: 15px;
    padding: 10px 40px;
    text-decoration: none;

}