body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    width: 100%;
}

.sec-top{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/top-banner.png);
}
.sec-middle{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    margin-bottom: 150px;
}
.div-half-width{
    width: 50%;
    padding-left: 3%;
}
div img{
    width: 80%;
}
h1{
    font-size: 50px;
}
span{
    color: #E67E22;
}
p{
    font-size: 17px;
    text-align: justify;
}
a{
    color: aliceblue;
    background-image: linear-gradient(orange, rgb(235, 245, 124));
    border-radius: 15px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0.5px 0.5px black;
}
.div-exp{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
    margin-right: 3%;
}
.div-dev {
    box-shadow: 10px 10px 10px gray;
    padding: 25px;
    margin-left: 3%;
    
    
}
h2{
    font-size: 40px;
}
h3{
    color: #E67E22;
    text-shadow: 1px 1px black;
}
footer p{
    text-align: center;
}


